profiles{
    // By default, give each process a generous amount of resources
    standard {
        process {
            withLabel: 'io_limited' {
                cpus = { 1 * task.attempt }
                memory = { 2.GB * task.attempt }
                maxRetries = 3
            }
            withLabel: 'mem_medium' {
                cpus = { 4 * task.attempt }
                memory = { 8.GB * task.attempt }
                maxRetries = 3
            }
            withLabel: 'mem_veryhigh' {
                cpus = { 4 * task.attempt }
                memory = { 16.GB * task.attempt }
                maxRetries = 3
            }
            withLabel: 'cpu_high' {
                cpus = { 16 * task.attempt }
                memory = { 32.GB * task.attempt }
                maxRetries = 3
            }
        }
    }
    testing {
        process {
            withLabel: 'io_limited' {
                cpus = 1
                memory = 1.GB
            }
            withLabel: 'mem_medium' {
                cpus = 1
                memory = 4.GB
            }
            withLabel: 'mem_veryhigh' {
                cpus = 1
                memory = 6.GB
            }
            withLabel: 'cpu_high' {
                cpus = 1
                memory = 1.GB
            }
        }
    }
}
