params {

    output_name = "COMBINED_GENOMES"
    output_folder = "./"

    min_occurrence = "1"
    minbit = "0.5"
    distance = "euclidean"
    linkage = "ward"
    mcl_inflation = "2"
    category_name = false
    gene_enrichment = false
    min_alignment_fraction = 0
    ani_program = "pyANI"
    cogs_tar = false

    container__anvio = "quay.io/fhcrc-microbiome/anvio:7"    
}

profiles{
    // By default, give each process a generous amount of resources
    standard {
        process {
            maxRetries = 3
            withLabel: 'io_limited' {
                cpus = { 1 * task.attempt }
                memory = { 2.GB * task.attempt }
            }
            withLabel: 'mem_medium' {
                cpus = { 4 * task.attempt }
                memory = { 8.GB * task.attempt }
            }
            withLabel: 'mem_veryhigh' {
                cpus = { 4 * task.attempt }
                memory = { 16.GB * task.attempt }
            }
            withLabel: 'cpu_high' {
                cpus = 16
                memory = 32.GB
            }
        }
    }
    testing {
        process {
            withLabel: 'io_limited' {
                cpus = 1
                memory = 1.GB
            }
            withLabel: 'mem_medium' {
                cpus = 1
                memory = 4.GB
            }
            withLabel: 'mem_veryhigh' {
                cpus = 1
                memory = 6.GB
            }
            withLabel: 'cpu_high' {
                cpus = 1
                memory = 1.GB
            }
        }
    }
}
